@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css" crossorigin="anonymous">
</head>

<div>
    <img src="https://www.opticron.co.uk/images/content/slider/1066_1920x400.jpg" alt="Alternate Text" class="header-img" />
</div>





<div class="container" style="margin-top: 60px;">
    <div class="grid-x ">
        <div class="large-3 medium-6 small-12 p-2 d-flex flex-column">
            <p>New Products</p>
                <img src="https://www.opticron.co.uk/images/content/homeboxes/1_335x256.jpg" />
                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="home-btn">New Products</button>
        </div>

        <div class="large-3 medium-6 small-12 p-2 d-flex flex-column">
            <p>Field Events</p>
                <img src="https://www.opticron.co.uk/images/content/homeboxes/2_335x256.jpg" />
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="home-btn">View Events</button>
        </div>

        <div class="large-3 medium-6 small-12 p-2 d-flex flex-column">
            <p>Latest News</p>
                <img src="https://www.opticron.co.uk/images/content/homeboxes/4_335x256.jpg" />
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="home-btn">Read Article</button>
        </div>

        <div class="large-3 medium-6 small-12 p-2 d-flex flex-column">
            <p>Gallery</p>
                <img src="https://www.opticron.co.uk/images/content/homeboxes/3_335x256.jpg" />
            <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua </p>
            <button class="home-btn">View Gallery</button>
        </div>

 
        </div>
    </div>
</div>

<div class="row offers-section" style="margin-top: 60px;">
    <h1 class="text-center p-3 offers">Special Offers</h1>
    <div class="grid-x ">
        <div class="large-4 medium-12 p-2 d-flex flex-column">
            <img src="https://www.opticron.co.uk/images/content/3_1_370x256.jpg" />
            <div class="white-container">
                <p class="mt-2">Discovery WP PC</p>
                <p class="fw-bold">£20 Cashback</p>
            </div>
        </div>

        <div class="large-4 medium-12 p-2 d-flex flex-column">
            <img src="https://www.opticron.co.uk/images/content/7_1_370x256.jpg" />
            <div class="white-container">
                <p class="mt-2">HR ED Fieldscopes</p>
                <p class="fw-bold">Free Digiscoping Kit</p>
            </div>
        </div>

        <div class="large-4 medium-12  p-2 d-flex flex-column">
            <img src="https://www.opticron.co.uk/images/content/5_1_370x256.jpg" />
            <div class="white-container">
                <p class="mt-2">IS 60 WP Fieldscope Kits</p>
                <p class="fw-bold">Save 25%</p>
            </div>
        </div>


    </div>
</div>
</div>
