.header-img {
    width: calc(100vw* 1920 / 1920);
}

.home-btn {
    background-color: #00934d;
    color: white;
    height: 40px;
    padding: 10px;
    width: fit-content;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
}

.offers-section {
    background-color: #e6e7e8;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
}

.offers {
    color: #929497;
}

.white-container {
    background: white;
    text-align: center;
}


body > div.row.offers-section > div > div > div > p.mt-2 {
    margin-bottom: 2px;
}

.slick-next:before {
    right: 0px !important;
    z-index: 1;
    color: black!important;
    top: 37%!important;
}

.slick-prev:before {
    left: 0px !important;
    z-index: 1;
    top: 37% !important;
    color: black !important;
}

.slick-prev {
    left: 0px !important;
    z-index: 1;
}

.slick-next {
    right: 0px!important;
}

.slider-container {
    margin-top: 60px;
}

.autoplay {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
}

.carousel-slider-img {
    align-items: center;
    justify-content: center;
    display: flex!important;
    flex-direction: column;
}

.test-container {
    display: flex;
    justify-content: center;
}

.responsive {
    margin: 0 16%;
}

.bino-img {
    min-height: 206px;
    max-width: 206px;
}

.offer-btn-container {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center
}

.offers-button {
    background-color: #00934d;
    color: white;
    padding: 10px;
    width: 15%;
}