.header-img {
    width: calc(100vw* 1920 / 1920);
}

.home-btn {
    background-color: #00934d;
    color: white;
    height: 40px;
    padding: 10px;
    width: fit-content;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
}

.offers-section {
    background-color: #e6e7e8;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
}

.offers {
    color: #929497;
}

.white-container {
    background: white;
    text-align: center;
}


body > div.row.offers-section > div > div > div > p.mt-2 {
    margin-bottom: 2px;
}