body {

}

.container {
    max-width: 1280px;
}

#navbarSupportedContent > form > button > svg {
    fill: white;
}

.nav-link {
    margin-right: 30px;
}

.search-button {
    width: 40px;
    line-height: 40px;
    border: none;
    height: 39px;
}

ul {
    margin-left: 0px!important;
}